<%- include('partials/header') %>

<main class="container-fluid d-flex flex-column align-items-center justify-content-start">


  <div class="about">
    <section class="row gradient-fill" id="instagram-area">

      <div class="col-12 insta">
        <i class="fab fa-instagram"></i>
        <h2>insta-sweet</h2>
      </div>

      <!-- instagram feed container  -->
      <ul class="instagram-lite"></ul>

      <div id="instafeed"></div>

      <script type="text/javascript">
          var feed = new Instafeed({
            accessToken: InstagramToken
          });
          feed.run();
      </script>

    </section>

  </div>


</main>


<%- include('partials/footer') %>
