<%- include('partials/header') %>

<main class="container-fluid home d-flex flex-column align-items-center justify-content-start">


  <div class="home__banner_text d-flex flex-column align-items-center justify-content-center">
    <h2>Kawaii Ice</h2>
    <p>Try all our flavours!</p>
    <a href="/flavours">Try Now</a>
  </div>

  <!-- <img class="home__banner_image" src="" alt=""> -->


</main>


<%- include('partials/footer') %>
